h1 {
    color: chartreuse;
    background-color: rgb(192, 209, 174);

}
img{
    width: 100px;
    background-color: crimson;
}
.divclass{
    background-color: darkkhaki;
}
#thirdDiv{
    width: 200px;
    height: 100px;
    background-color: darkturquoise;
    padding: 50px;
    border: solid red;
}
#spanId{
    background-color: fuchsia;
    font-size: 30px;
    margin: 80px;

}